// Defult
@import 'variables';
@import 'mixins';
@import 'overlay';
// @import 'common';
@import 'color';


// Homepage1

@import 'h1-hero';
// @import 'wantTowork';
// @import 'services_section';
// @import 'visit-tailor';
// @import 'project_gallery';
// @import 'testimonial';
// @import 'all_startups';
// @import 'david-droga';
// @import 'footer';
